.wrapper {
    width: 5.2rem;
    height: 100%;
    
    position: fixed;
    top: 0;

    border-right: 1px solid #fbead2;
    background-color: #1d1b1e;

    display: flex;

    z-index: 1;
    
    transition: width .3s;
    &[data-expanded='true'] {
        width: 28rem;

        
    }
}

.label {
    width: 5.2rem;
    height: 100%;

    border-right: 1px solid #fbead2;
    display: flex;
    flex-flow: column nowrap;

    justify-content: space-between;
    align-items: center;

    z-index: 2;
}

.menu {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}