.wrapper {
    width: 5.2rem;
    height: 100%;
    
    position: fixed;
    top: 0;

    border-right: 1px solid #fbead2;
    background-color: #1d1b1e;

    display: flex;
    flex-flow: column nowrap;

    justify-content: space-between;
    align-items: center;

    z-index: 1;
}



