.logo {

    width: 100%;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    button {
        border: none;
        width: 100%;
        height: 100%;
        background-color: inherit;
        color: inherit;
        font-size: 3rem;

      
        cursor: pointer;
    }


    button i[data-expansion-state='NAV-STATUS/READY'] {
        animation: shakeRotation .1s linear 5 both;
        
    }

    button i[data-expansion-state='NAV-STATUS/EXPANDED'] {
        animation: rotationR .3s linear;
    }

    button i[data-expansion-state='NAV-STATUS/CLOSED'] {
        animation: rotationL .3s linear;
    }

  
    
}

@keyframes rotationR {
    from {
        transform: none;
    }


    to {
        transform: rotateZ(180deg);
    }
}

@keyframes rotationL {
    from {
        transform: none;
    }


    to {
        transform: rotateZ(-180deg);
    }
}


@keyframes shakeRotation {
    from {
        transform: none;
    }

    33.3333333% {
        transform: rotate(-5deg);
    }

    66.66666666% {
        transform: rotate(5deg);
    }

    to {
        transform: none;
    }
}
