.wrapper {
    width: 5.2rem;
    height: 100%;
    
    position: fixed;
    top: 0;

    border-right: 1px solid #fbead2;
    
    background-color: #1d1b1e;

    display: grid;
    grid-template-columns: 5.2rem auto;
    grid-template-rows: auto;

    
    transition: width .3s;
    
    z-index: 1;

    &[data-expanded='true'] {
        width: 28rem;
        height: 100%;
        
    }

    @media (max-width:1170px) {
        display: block;

        top: calc(100% - 5.2rem);

        border-right: none;

        width: 100%;
        height: 5.2rem;

        background-color: #1d1b1e;



        &[data-expanded='true'] {
            height: 5.2rem;
            width: 100%;
    
            
        }
    }

}

.label {
    width: 5.2rem;

    grid-column: 1/2;
    grid-row: 1/2;


    
    border-right: 1px solid #fbead2;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5.2rem auto 6rem;

    align-items: center;
    justify-items: center;


    z-index: 2;

    @media (max-width:1170px) {
        position:absolute;
        top: 0;

        width: 100%;
        height: 5.2rem;

        border-top: 1px solid #fbead2;
        border-right: none;

        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        grid-template-rows: auto;
        grid-template-columns: 8rem auto 5.2rem;
    }
}

.menu {
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 0;

    &[data-expanded='true'] {
        width: 28rem;
        height: 100%;
    
    }


    @media (max-width:1170px) {
            
        &[data-expanded='true'] {
            background-color: #1d1b1e;

            border-top: 1px solid #fbead2;

            transform: translateY(-100%);

            transition: transform .3s;
            
        }
    }

}