.title {
    text-transform: uppercase;
    
    letter-spacing: 3px;
    font-weight: 500;

    grid-column: 1/1;
    grid-row: 2/3;

    overflow: hidden;
    
    height: 260px;
    .text {
        width: 260px;

        transform: rotateZ(-90deg) translateX(-40%);
    }
    
    @media (max-width:1170px) {
        display: none;
        
    }
}

