@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #1d1b1e;
  color: #fbead2;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 1.25rem;
}

h1,
h2,
h3, 
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}


h1 {
  font-size: 5.8rem;
  font-family: 'Pacifico', cursive;
  
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: 350;
}
h6 {
  font-size: 1.2rem;
}
