.row {
    display: flex;
    flex-flow: row nowrap;

    &:not(:nth-last-child(2)) {
        border-bottom: 1px solid #fbead2;

    }

    @media (max-width:1170px) {
        flex-flow: row wrap;
        &:not(:nth-last-child(2)) {
            border-bottom: none;
    
        }
    }
}

.col {
    flex-basis: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
        border-right: 1px solid #fbead2;

    }

    @media (max-width:1170px) {
        flex-basis: 100%;
        border-bottom: 1px solid #fbead2;
        &:first-child {
            border-right: none;
            border-bottom: 1px solid #fbead2;
        }
        &.img {
            display: none;
        }


    }
}

.photoWrapper {
    position: relative;

    height: 100%;
    width: 100%;

    
}

